<ul class="demo-user-block mdl-list mdl-shadow--2dp mdl-color--white">
  <li class="mdl-list__item demo-user-block__name mdl-color--primary">
    <span class="mdl-list__item-primary-content mdl-typography--headline mdl-color-text--white"><%= name %></span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= email %></span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= phone %></span>
  </li>
  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content"><%= address %></span>
  </li>
</ul>